main
    article.icons
        h1 Примеры иконок

        p.text-xs
            <i class="bi check"></i>
            span Lorem ipsum dolor sit amet consectetur
        p.text-sm   
            <i class="bi check"></i>Lorem ipsum dolor sit amet consectetur</p>
        p.text-base 
            <i class="bi check"></i>Lorem ipsum dolor sit amet consectetur</p>
        p.text-lg   
            <i class="bi check"></i>Lorem ipsum dolor sit amet consectetur</p>
        p.text-xl   
            <i class="bi check"></i>Lorem ipsum dolor sit amet consectetur</p>
        p.text-2xl  
            <i class="bi check"></i>Lorem ipsum dolor sit amet consectetur</p>
        p.text-3xl  
            <i class="bi check"></i>Lorem ipsum dolor sit amet consectetur</p>
        p.text-4xl  
            <i class="bi check"></i>Lorem ipsum dolor sit amet consectetur</p>
        p.text-5xl  
            <i class="bi check"></i>Lorem ipsum dolor amet</p>
        p.text-6xl  
            <i class="bi check"></i>Lorem ipsum dolor</p>
        p.text-7xl  
            <i class="bi check"></i>Lorem ipsum dolor</p>
        p.text-8xl  
            <i class="bi check"></i>Lorem ipsum</p>
        p.text-9xl  
            <i class="bi check"></i>Lorem</p>
