/*
 * Please feel free to change and remove these styles.
 */
:root {
    --figcaption-height: 2rem;
    --image-size-landscape: calc(var(--main-min-height) - var(--figcaption-height));  
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

figcaption {
    text-align: center;
    height: var(--figcaption-height);
    line-height: var(--figcaption-height);
}

@media (orientation: landscape) {
    figure img {
        height: var(--image-size-landscape);
        width: auto;
    }
}

@media (orientation: portrait) {
    figure img {
        height: 100vw;
        width: 100vw;
    }
}

article.icons {
    max-width: 640px;
    @apply p-3 border-2 border-gray-300 rounded-md;
}

article.icons p {
    @apply mt-5;
}
