@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Please change, add and/or remove styles below only if you are sure what you are doing.
 */

:root {
    --header-height: 3rem;
    --footer-height: 2rem;
    --header-font-size: 1.2rem;
    --footer-font-size: .875rem;
    --main-min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

@layer base {
    
    main {
        min-height: var(--main-min-height);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 10;
    }

    header {
        height: var(--header-height);
        line-height: var(--header-height);
        font-size: var(--header-font-size);
        text-align: right;
    }

    header .brand {
        @apply ml-3 absolute;
    }

    header .brand .logo, header .links .burger {
        @apply icon;
        width: calc(var(--header-height) * .5);
        height: calc(var(--header-height) * .45);
    }

    header .brand .logo {
        background-image: url(img/logo.svg);
    }

    header .links .burger {
        @apply mr-3 inline-block xs:hidden z-10;
    }

    header ul {
        display: inline-block;
        @apply
            xs:mr-3
            xs:inline-block 
            xs:z-30 
            max-xs:absolute 
            max-xs:right-0 
            max-xs:w-64 
            max-xs:border-2
            max-xs:m-2
            max-xs:p-2
            max-xs:border-gray-300
            max-xs:rounded-md
            max-xs:text-left
            max-xs:bg-white
            max-xs:opacity-80
            max-xs:z-0
            max-xs:hidden
    }

    header ul li {
        @apply ml-3 xs:inline-block xs:m-1
    }

    header ul li:last-child {
        @apply xs:hidden
    }
    
/*    header .links {
        @apply h-32 w-32 relative;
    }

    header ul {
        display: inline-block;
        @apply mr-3;
        @apply max-xs:absolute max-xs:inset-y-0 max-xs:right-0 max-xs:w-32 max-xs:invisible max-xs:z-0;
    }

    */
    
    footer {
        height: var(--footer-height);
        line-height: var(--footer-height);
        font-size: var(--footer-font-size);
        @apply text-center
    }    
}

@layer components {
    .icon {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        vertical-align: text-top;
        background-repeat: no-repeat;
        background-size: contain;
        margin: .1rem .3rem 0 0;
        content: ''
    }

    .bi {
        @apply icon;
    }

    .text-9xl .bi, .bi.xl9 {
        width: 8rem;
        height: 8rem;
    }

    .text-8xl .bi, .bi.xl8 {
        width: 6.5rem;
        height: 6.5rem;
    }

    .text-7xl .bi, .bi.xl7 {
        width: 4.5rem;
        height: 4.5rem;
    }

    .text-6xl .bi, .bi.xl6 {
        width: 3.7rem;
        height: 3.7rem;
    }

    .text-5xl .bi, .bi.xl5 {
        width: 2.9rem;
        height: 2.9rem;
    }

    .text-4xl .bi, .bi.xl4 {
        width: 2.3rem;
        height: 2.2rem;
    }
    
    .text-3xl .bi, .bi.xl3 {
        width: 1.9rem;
        height: 1.8rem;
    }

    .text-2xl .bi, .bi.xl2 {
        width: 1.5rem;
        height: 1.4rem;
    }

    .text-xl .bi, .bi.xl {
        width: 1.4rem;
        height: 1.3rem;
    }

    .text-lg .bi, .bi.lg {
        width: 1.2rem;
        height: 1.2rem;
    }

    .text-base .bi, .bi.base, .bi {
        width: 1.2rem;
        height: 1.1rem;
        margin: .18rem .25rem 0 0;
    }

    .text-sm .bi, .bi.sm {
        width: 1rem;
        height: 1rem;
    }
    .text-xs .bi, .bi.xs {
        width: .8rem;
        height: .8rem;
    }
}
